.contactPage {
    position: relative;
    width: 100%;
}

.contactFormParent {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.contactFormParent input {
    min-height: 35px;
    max-height: 35px;
}

.contactFormParent input,
.contactFormParent textarea {
    padding: 2px;
    min-width: 450px;
    max-width: 450px;
    margin: 10px;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    color: white;
    overflow: auto;
    resize: none;
    box-shadow: 5px 6px 2px rgba(98, 98, 98, 0.5);
}

.contactFormParent input::placeholder,
.contactFormParent textarea::placeholder {
    color: white;
}

.submitBtn {
    background: #0ac483 !important;
    border: none;
    padding: 5px 0px !important;
    font-weight: 600;
    transition: all 2s;
}

.submitBtn:hover {
    color: #f5e906;
}

.thanksBox {
    position: relative;
    display: flex;
    max-height: 400px;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.thanksBox h1 {
    padding: 10px 5px;
    width: 90%;
    text-align: center;
    background-color: #0F2027;
    color: white;
}

.closeMsg {
    top: 20%;
    left: 3%;
    position: absolute;
    font-size: 35px;
    transition: all 1s;
}

.goBack {
    font-size: 25px;
    position: absolute;
    top: 1%;
    left: 1%;
    border-radius: 50%;
    transition: all 1s;
}

.closeMsg:hover,
.goBack:hover {
    color: #1D976C;
}

a {
    color: black;
}