.itemstyles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.itemstyles a {
    text-decoration: none;
    font-size: 1.5rem;
}

.product_content {
    margin: 1rem;
    border: 0.5px solid rgb(151, 149, 149);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    max-width: 300px;
}

.imagestyles {
    width: 250px;
    min-height: 280px;
    max-height: 280px;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

.imagestyles:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in;
    cursor: pointer;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search_icon {
    color: rgb(117, 118, 119);
    border: 1px solid gainsboro;
    border-left: none;
    padding: 7px;
    font-size: 20px;
    background-color: rgb(247, 242, 240);
}

.searchWithmessage {
    color: rgb(10, 98, 187);
    border: 1px solid rgb(10, 98, 187);
    border-left: none;
    padding: 7px;
    font-size: 20px;
    background-color: rgb(247, 242, 240);
}

.find_item {
    width: 300px;
    border: 1px solid gainsboro;
    padding: 5px;
    transition: 0.5s ease-out;
}

.find_item:focus {
    outline: none;
    border: 1px solid rgb(10, 98, 187);
}

.productBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.productBtn button {
    margin: 10px;
    width: 80px;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: 700;
}

.edit_btn {
    padding: 5px 10px !important;
    height: 50px;
    font-weight: 700;
    transition: color 0.6s ease-in;
    font-size: 17px !important;
    color: white !important;
    background: #AAFFA9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11FFBD, #AAFFA9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.edit_btn:hover,
.edit_btn:focus {
    color: black !important;
}

.delete_btn {
    transition: color 0.6s ease-in;
    background: #cb2d3e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.delete_btn:hover {
    color: #1f2725;
}

.delete_btn:focus {
    color: #1f2725;
}

.priceItem {
    background: #fd746c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9068, #fd746c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.2rem;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.more_content,
.close_morecontent {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}


.itemDescription {
    border-top: 1px solid rgb(179, 176, 176);
    margin-top: 1rem;
    font-size: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.itemDescription::before {
    content: "Description";
    font-size: 15px;
    background-image: linear-gradient(to top, rgb(219, 26, 12), rgb(204, 127, 12));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hidden {
    display: none;
}