.itemContent {
    margin-top: 1rem;
    width: 100%;
}

.itemstyles {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.itemstyles a {
    text-decoration: none;
    font-size: 1.5rem;
}

.product_content {
    margin: 1rem;
    border: 0.5px solid rgb(184, 181, 181);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 430px;
    max-height: 430px;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 300px;
    max-width: 300px;
    position: relative;
}

.imagestyles {
    width: 250px;
    min-height: 280px;
    max-height: 280px;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

.imagestyles:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in;
    cursor: pointer;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    position: relative;
    margin-right: 1rem;
    animation: displaySearch 2s;
}

@keyframes displaySearch {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.search_icon {
    color: rgb(117, 118, 119);
    border: 1px solid gainsboro;
    border-left: none;
    padding: 7px;
    font-size: 20px;
    background-color: rgb(247, 242, 240);
}

.searchWithmessage {
    color: rgb(10, 98, 187);
    border: 1px solid rgb(10, 98, 187);
    border-left: none;
    padding: 7px;
    font-size: 20px;
    background-color: rgb(247, 242, 240);
}

.find_item {
    width: 300px;
    border: 1px solid gainsboro;
    padding: 5px;
    transition: 0.5s ease-out;
}

.find_item:focus {
    outline: none;
    border: 1px solid rgb(10, 98, 187);
}

.productBtn {
    position: absolute;
    right: 1%;
    top: 0%;
}

.editLink {
    font-size: 0;
    margin: 0%;
    padding: 0%;
}

.edit_btn {
    margin-right: 1rem;
    background-color: rgb(12, 190, 87);
}

.delete_btn,
.edit_btn {
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.5s;
}

.edit_btn:hover,
.delete_btn:hover {
    color: #2c2b2b;
}

.delete_btn {
    background-color: red;
}


.priceItem {
    background: #fd746c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9068, #fd746c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.2rem;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.sellerName {
    cursor: pointer;
    position: absolute;
    font-size: 12px;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    border-radius: 2px;
    color: aliceblue;
}

.more_content,
.close_morecontent {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}


.itemDescription {
    border-top: 1px solid rgb(179, 176, 176);
    margin-top: 1rem;
    font-size: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.itemDescription::before {
    content: "Description";
    font-size: 15px;
    background-image: linear-gradient(to top, rgb(219, 26, 12), rgb(204, 127, 12));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.itemCategory::before {
    content: "Category";
    font-size: 15px;
    background-image: linear-gradient(to top, rgb(219, 26, 12), rgb(204, 127, 12));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hidden {
    display: none;
}


@media screen and (max-width: 600px) {

    .searchBar {
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .imagestyles {
        width: 200px;
        min-height: 210px;
    }

}