* {
    margin: 0;
    padding: 0;
}

.updateItem_content {
    width: 100%;
    position: relative;
}

.Loadingmessagestyle {
    margin-top: 10px;
    font-size: 30px;
    color: rgb(16, 9, 119);
}

.boxParent {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}

.boxParent img {
    margin-top: 15px;
    width: 380px;
    height: 400px;
}

.itemDetail_h1 {
    /*margin: 1rem 0;*/
    background-image: linear-gradient(to top, rgb(118, 59, 118), rgb(230, 245, 19));
    background-size: 100%;
    font-weight: 800;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 1px 1px #220214;
}

.boxContent {
    max-width: 50%;
}

.description_item {
    text-align: left;
}

.description_item h3 {
    background-image: linear-gradient(to top, rgb(118, 59, 118), rgb(230, 245, 19));
    background-size: 100%;
    font-weight: 800;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 1px 1px #037c87;
}

.price_item {
    text-align: left;
    font-size: 25px;
    padding: 5px;
    color: rgb(235, 134, 12);
    font-weight: 700;
    text-shadow: 1px 1px #07023d;
}

.category_item {
    text-align: left;
    font-size: 15px;
    padding: 5px;
    color: rgb(235, 134, 12);
    font-weight: 700;
    text-shadow: 1px 1px #07023d;
}

.itemRiview {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
}

.button_box * {
    margin-left: 10px;
}


.buy_item_btn,
.delete_item_btn {
    width: 120px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.5s;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 6px 6px 20px
        /* 20px represent the amount of blure*/
        rgba(145, 143, 143, 0.5);
}

.buy_item_btn {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.delete_item_btn {
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.buy_item_btn:after,
.delete_item_btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(110, 5, 5, 0.6);
    transition: all 0.5s;
    border-radius: 5px;
}

.delete_item_btn:hover,
.buy_item_btn:hover {
    color: white;
}

.delete_item_btn:hover:after,
.buy_item_btn:hover:after {
    width: 100%;
}

.slider-item {
    position: relative;
}

.slider-item img {
    border-radius: 10px;
}

.right-arrow {
    margin-top: 1.2rem;
    position: absolute;
    top: 100%;
    right: 35%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s;
}

.left-arrow {
    margin-top: 1.2rem;
    position: absolute;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    top: 100%;
    left: 35%;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s;
}

.right-arrow:hover,
.left-arrow:hover {
    background-color: #ff6a00;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}



.reviewModel {
    border: 3px solid red;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.reviewBox {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
    background: #0F2027;
    color: white;
    padding: 8px;
    border-radius: 5px;
    min-width: 350px;
    max-width: 350px;
}

.reviewBox p {
    font-size: 16px;
    font-weight: 600;
}

.displayReviewBox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 15px;
    animation: fadeInAnim 2s;
}

@keyframes fadeInAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.displayReviewBox label {
    margin-top: 10px;
    font-size: 15px;
}

.displayReviewBox input,
.displayReviewBox textarea,
.displayReviewBox select {
    width: 250px;
    height: 30px;
    transition: all 1s;
    border: none;
}

.displayReviewBox input:focus,
.displayReviewBox textarea:focus,
.displayReviewBox select:focus {
    outline: none;
}

.displayReviewBox select {
    cursor: pointer;
}

.displayReviewBox textarea {
    resize: none;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.displayReviewBox button {
    margin-top: 10px;
    padding: 2px 5px;
    font-size: 14px;
    border: none;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}




.openReviewBox,
.closeReviewBox {
    color: #f8f8f8;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 50%;
}

.openReviewBox:hover {
    color: rgb(8, 206, 48);
    background-color: white;
}

.closeReviewBox:hover {
    color: white;
    background-color: red;
}

.allCommentsBox {
    background: rgba(207, 204, 204, 0.5);
    box-shadow: 0 0 10px rgba(32, 31, 31, 0.4);
    padding: 10px;
    width: 100%;
    margin-top: 2rem;
    position: relative;
}

.commentContent {
    position: relative;
    padding: 10px;
    margin: 5px;
    background-color: white;
    min-height: 200px;
    max-height: 200px;
}

.commentsBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.commentContent>p {
    text-align: left;
    width: 11em;
    word-wrap: break-word;
    font-size: 20px;
}

.commentContent h2 {
    position: absolute;
    bottom: 10px;
    font-size: 15px;
    text-align: left;
    font-style: italic;
}

.commentContent h3 {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    text-align: left;
    font-style: italic;
}

.reviewText {
    position: relative;
    font-size: 20px;
}

.deleteComment {
    position: absolute;
    top: 3%;
    right: 5%;
    transition: all 0.5s;
    outline: none;
    cursor: pointer;
    background-color: white;
    z-index: 5;
    border: none;
}

.deleteComment:hover {
    color: #f12711;
}

.numOfComment {
    width: 20px;
    border-radius: 50%;
    font-size: 16px;
    position: absolute;
    top: 0%;
    margin-left: 5px;
    background: #f12711;
    color: white;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f5af19, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.yoursComment {
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 2px;
}

.closeReviewForm {
    cursor: pointer;
    color: red;
    font-size: 20px;
    transition: all 0.5s;
    border-radius: 50%;
}

.closeReviewForm:hover {
    background-color: #fefffe;
}

@media screen and (max-width: 1000px) {

    .updateItem_content {
        height: auto;
    }

    .boxParent {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        align-items: center;
    }

    .right-arrow {
        top: 50%;
        right: -20%;
    }

    .left-arrow {
        top: 50%;
        left: -20%;
    }

    .description_item,
    .price_item,
    .category_item {
        text-align: center;
    }

    .boxParent img {
        margin: 1rem 0;
    }
}


@media screen and (max-width: 600px) {
    .boxParent img {
        width: 200px;
        height: 220px;
    }

    .price_item {
        font-size: 20px;
    }

    .right-arrow {
        top: 30%;
        right: -30%;
    }

    .left-arrow {
        top: 30%;
        left: -30%;
    }

}

@media screen and (max-width: 550px) {

    .displayReviewBox input,
    .displayReviewBox textarea,
    .displayReviewBox select {
        width: 200px;

    }

    .reviewBox {
        width: 250px;
    }
}

@media screen and (max-width: 350px) {

    .left-arrow,
    .right-arrow {
        font-size: 30px;
    }
}