.additem {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additem label {
  text-align: left;
  display: block;
}

.additem h1 {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(219, 161, 52);
  margin-bottom: 30px;
}

.newItemText {
  animation: fadeInText 2s;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.additem input,
.additem textarea,
.additem select {
  min-width: 500px;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(173, 172, 172);
  box-sizing: border-box;
}

.additem input:focus,
.additem textarea:focus {
  outline: none;
  border: 1px solid rgb(80, 80, 151);
}

.descriptionTextArea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden !important;
}

.dropZone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 20px;
}

.upload_btn {
  position: absolute;
  opacity: 0;
  z-index: 10;
}

.overlay-layer {
  z-index: 0;
  margin-top: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 500px;
  height: 50px;
  background: rgba(93, 78, 163, 0.7);
  border: 3px rgb(12, 11, 63);
  font-size: 20px;
  color: aliceblue;
  font-weight: 600;
  border-style: dashed;
}

.categorySelection:focus {
  outline: none;
  border: 1px solid rgb(5, 5, 157);
}

.categorySelectionRed {
  border: 2px solid red !important;
}

.imageDisplaying {
  margin: 10px 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 450px;
  max-width: 450px;
}

.imageDisplaying img {
  width: 150px;
  padding: 5px;
}


@media screen and (max-width: 550px) {

  .additem input,
  .additem textarea,
  .additem select {
    min-width: 400px;
    width: 90%;
  }

  .overlay-layer {
    width: 400px;
    height: 50px;
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
  }

}

@media screen and (max-width: 400px) {

  .additem input,
  .additem textarea,
  .additem select {
    min-width: 300px;
    width: 90%;
  }

  .overlay-layer {
    width: 300px;
    height: 50px;
  }

}

@media screen and (max-width: 400px) {

  .additem input,
  .additem textarea,
  .additem select {
    min-width: 250px;
    width: 90%;
  }

  .overlay-layer {
    width: 250px;
    height: 50px;
    font-size: 15px;
  }

}