.purchaseBox {
    position: relative;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgba(3, 9, 40, 0.6);
}

a {
    text-decoration: none;
}

.purchaseBox img {
    max-width: 150px;
    min-width: 150px;
    max-height: 120px;
    min-height: 120px;
    border-radius: 5px;
    margin: 5px;
}

.purchaseTitle {
    position: absolute;
    top: 0;
    left: 0;
}

.contactAdmin {
    position: absolute;
    right: 5px;
    top: 0;
}

.purchaseTitle p {
    color: rgba(229, 230, 235, 0.9);
    font-size: 20px;
    font-weight: 500;
}