.parentInputForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;   
 
}
label{
    font-size: 20px;
    font-weight: 500;
}
.childContainer img{
    width: 250px;
    border-radius: 5px;
}
.childContainer{
    margin: 1.5rem;
}
.childContainer input{
    font-size: 12px;
    width: 200px;
    margin-left: 1rem;
    background-color: rgba(85, 11, 235, 0.1);
    padding: 8px;
    border: none
}
.textAreaChild textarea{
    font-size: 12px;
    margin-left: 1rem;
    width: 150px;
    height: 80px;
    background-color: rgba(85, 11, 235, 0.1);
    border: none;
    padding: 5px;
}
.textAreaChild{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dragDropZone {
    display: flex;
    position: relative;
    flex-direction: column;
}

.dragDropZone input {
    border: 1px solid red;
    position: absolute;
    right: 0px;
    opacity: 0;
    z-index:10;
}

.dragDropZone .dropzoneIcon {
    margin-top: 5px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
    width: 200px;
    z-index: 0;
}

