.updateItemForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parentInputForm {
    margin: 1rem;
    border-radius: 5px;
    padding-bottom: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    width: 350px;
    box-shadow: 6px 6px 20px rgba(61, 61, 60, 0.5);
}

label {
    font-size: 20px;
    font-weight: 500;
}

.UpdateImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.UpdateImg img {
    border-radius: 5px;
    max-height: 350px;
    width: 300px;
}

.childContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 1rem 0;
}

.childContainer input,
.childContainer select,
.childContainer textarea {
    margin-top: 10px;
    font-size: 15px;
    width: 280px;
    margin-left: 1rem;
    background-color: rgba(254, 254, 255, 0.993);
    padding: 5px;
    border: none;
    min-height: 30px;
    max-height: 30px;
}

.childContainer section:hover {
    outline: none !important;
}

.inputNameWithError,
.inputPriceWithError,
.categoryError {
    border: 1px solid red !important;
}

.childContainer input:focus {
    outline: none;
}

.childContainer textarea {
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 280px;
}

.childContainer textarea:focus {
    outline: none;
}

.dragDropZone {
    width: 350px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.dragDropZone input {
    width: 350px;
    padding: 15px 5px;
    border: 5px solid red;
    position: absolute;
    right: 0px;
    opacity: 0;
    z-index: 10;
}

.dragDropZone .dropzoneIcon {
    margin-top: 5px;
    padding: 15px 5px;
    border: 2px rgb(14, 238, 14) dashed;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    position: absolute;
    right: 0;
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1565C0, #b92b27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    width: 350px;
    z-index: 0;
}

.dropzoneIconChanged {
    padding: 10px 5px;
    font-size: 20px;
    margin-top: 5px;
    display: flex;
    cursor: none;
    flex-direction: column;
    position: absolute;
    right: 15%;
    bottom: 100px;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
    width: 250px;
    z-index: 0;
}

.uploadedImg {
    width: 250px;
    border-radius: 5px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.btnUpdate {
    margin-top: 2.5rem;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    color: white;
    font-weight: 700;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.5s ease-in;
}

.btnUpdate:hover {
    transform: scale(1.2);
    color: yellow;
}

.btnUpdate:focus {
    color: yellow;
}

@media screen and (max-width: 800px) {
    .updateItemForm {
        display: flex;
        flex-direction: column;
    }

    .parentInputForm {
        margin-top: 4rem;
    }

    .dropzoneIconChanged {
        position: absolute;
        bottom: 0;
    }

}