.App {
  text-align: center;
  width: 100%;
  min-height: 80vh;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(250, 250, 250);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgb(231, 235, 236), rgb(8, 95, 117));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(rgb(231, 235, 236), rgb(255, 136, 0));
}

.userLoginIcon {
  color: black;
  background-color: rgb(246, 247, 245);
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
  border: 3px rgb(251, 253, 251) solid;
}

.userLoginIcon:hover {
  border: 3px rgb(138, 219, 224) solid;
  background-color: rgb(138, 219, 224);
}


button {
  cursor: pointer;
}


.fileUploadStyle {
  display: none;
  border: 2px red solid;
}

.loadCircle {
  position: absolute;
  top: 0%;
  right: 50%;
}