.App {
  text-align: center;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(250, 250, 250);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgb(231, 235, 236), rgb(8, 95, 117));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(rgb(231, 235, 236), rgb(255, 136, 0));
}


.NavBar {
  background-color: rgb(17, 4, 43);
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.logoutbtn {
  border: none;
  border-radius: 15px;
  font-size: 14px !important;
  color: white;
  font-weight: 500;
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.5s ease-in;
}

.logoutbtn:hover {
  transform: scale(1.1);
}

.logoutbtn:active {
  color: #f8e808;
}

.userLoginIcon{
  color: black;
  background-color: rgb(246, 247, 245);
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
  border: 3px rgb(251, 253, 251) solid;
}
.userLoginIcon:hover{
  border: 3px rgb(138, 219, 224) solid;
  background-color: rgb(138, 219, 224);
}

.NavBar .leftSide {
  flex: 50%;
  display: flex;
  align-items: center; /* to place item on the middle(veritacaly) of the navbar*/
  justify-content: flex-start; /*to push search bar to the left-side */
  padding-left: 20px;
}

.login {
  text-decoration: none;
  margin-left: 1rem;
  color: aliceblue;
  font-weight: 700;
  transition: all 0.5s ease-in;
}

.login:hover {
  color: #E94057 !important;
}

.login:active {
  color: #E94057 !important;
}

.signUp {
  text-decoration: none;
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 15px;
  border: none;
  color: rgb(255, 251, 251); 
  transition: all 0.5s ease;
}
.signUp:hover {
  color: white;
  transform: scale(1.1);
}

.NavBar .leftSide input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding-left: 5px;
  color: black;
}
.NavBar .leftSide button {
  height: 33px;
  width: 70px;
  font-size: 17px;
}

button {
  cursor: pointer;
}

.NavBar .rightSide .links {
  max-height: 80px;
  margin-top: 10px;
}

.NavBar .rightSide button {
  display: none;
  margin-right: 20px;
}

.NavBar .rightSide #hidden {
  display: flex;
}

.NavBar .rightSide .links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 15px;
}

.NavBar .rightSide .links a:hover {
  color: rgb(20, 219, 153);
}
.NavBar .rightSide {
  flex: 50%;
  display: flex;
  justify-content: right;
  margin-right: 20px;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .NavBar .rightSide .links a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .NavBar .rightSide .links a {
    font-size: 12px;
  }

  .NavBar .rightSide button {
    display: flex;
  }

  .NavBar .rightSide .links {
    display: none;
  }

  .NavBar .rightSide #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 140px;
    max-height: 150px;
    width: 100%;
    background-color: rgb(17, 4, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .NavBar .rightSide #hidden a {
    margin: 5px;
    font-size: 20px;
  }
}

.fileUploadStyle{
  display: none;
  border: 2px red solid;
}

