@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dropZone{
  position: relative;
}
.upload_btn{
  position: absolute;
  opacity: 0;
  z-index:10;
}
.overlay-layer{
  z-index:0;
  margin-top: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 500px;
  height:50px;
  background: rgba(93, 78, 163, 0.7);
  border: 3px rgb(12, 11, 63);
  font-size: 20px;
  color: aliceblue;
  font-weight: 600;
  border-style: dashed;
}
#uploadedPhoto{
  background: rgba(13, 150, 81, 0.7);
  color: #cfee1e;
}

.fileUpload{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.fileUpload>input{
  border: 2px solid red;
}
.pasteImgClass {
  width: 250px;
}

.newItemImage{
  margin-top: 4rem;
  width: 250px;
}

.btn{
  margin-top: 4rem;
}

.pasteImgClass {
  width: 250px;
}


.newitemstyle {
  color: "white";
  background-color: #047420;
  border-radius: 5px;
}

.h1styles {
  font-size: 22px;
  background-color: #14ac41;
  color: rgb(146, 13, 13) !important;
  border-radius: 5px;
  padding: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.itemstyles {
  margin-top: 10px;

  padding: 10px 16px;
}
.itemstyles h1 {
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  color: rgb(219, 161, 52);
}
.eachitem {
  display: flex;
  justify-content: left;
}

.Errorstyles p {
  font-size: 20px;
  color: #f1356d;
  margin-top: 10px;
}

.Loadingmessagestyle {
  margin-top: 10px;
  font-size: 30px;
  color: rgb(16, 9, 119);
}

.additem {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.additem label {
  text-align: left;
  display: block;
}
.additem h1 {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(219, 161, 52);
  margin-bottom: 30px;
}

.additem input,
.additem textarea,
.additem select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(29, 28, 28);
  box-sizing: border-box;
  display: block;
}

.imagestyles {
  width: 170px;
  height: 170px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

.NameClasses {
  font-size: 17px;
  font-weight: bold;
  color: #053611;
  cursor: pointer;
}
.NameClasses:hover {
  color: #bd1f4e;
}
.NameClasses a {
  text-decoration: none;
}

.boxParent {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
}
.boxchild {
  flex: 1 1 50px;
}

.boxchild img {
  width: 500px;
  height: 500px;
}
.boxchild span {
  color: #053627;
  font-size: 20px;
}

.reconncetbtn{
  border-radius: 5px;
  border: 0.5px solid rgb(145, 8, 8);
  padding: 8px;
  background: rgba(223, 8, 79, 0.7);
  color:white;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 3px 3px 5px 
  rgba(192, 11, 101, 0.8);
  transition: 1s;
}
.reconncetbtn:hover{
  background-color: rgba(13, 150, 81, 0.7);
  box-shadow: 3px 3px 5px 
  rgba(7, 100, 11, 0.8);
}

.stylesforh1home {
  font-size: 15px;
}



.authStyles{
  margin: 2rem;
}

.inputAuth{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 17px;
}

.inputAuth input{
  width: 250px;
  margin: 0.2rem;
  border-radius: 5px;
  border-width: 0.5px;
  padding: 5px;
  background-color: rgba(236, 248, 214, 0.7);
 
}