.form_content {
    margin: 1rem 10px;
    border: 1px solid rgb(215, 213, 213);
    padding: 10px;
}

.form_content h2 {
    font-size: 20px;
    margin: 10px 0px;
    background-image: linear-gradient(to top, rgb(124, 14, 235), rgb(204, 127, 12));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.payment_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_number {
    background-color: rgba(0, 0, 0, 0.2);
    width: 500px;
    border: 0.5px solid rgb(197, 195, 195);
    padding: 10px;
}

.payment_element {
    margin: 10px;
    min-width: 400px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.payment_element label {
    font-size: 15px;
}

.payment_element input {
    border: none;
    background-color: rgb(192, 191, 191);
    margin-left: 10px;
    color: rgb(255, 255, 255);
    width: 220px;
    padding: 5px;
    outline: none;
}

.payment_element input::placeholder {
    color: rgb(15, 15, 15);
}

.pay_btn {
    width: 70px;
    height: 40px;
    border: none;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 5px 10px;
}

.thank-you-content {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thank-you-content h2 {
    background-image: linear-gradient(to top, rgb(127, 11, 244), rgb(204, 127, 12));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgb(6, 11, 109)
}